<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drug response report from a {{ kit_type }} kit.</title>
    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="file://{{ css_file }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
    <div class="header">
        <div class="frontsum row no-gutters">
            <div id="lablogo" class="col-6">
                <img class="lablogo" src="file://{{ lablogo }}" ></i>
            </div>
            <div id="patientinfo" class="col-2 infohead">
                <div class="infoheader">
                    <p>
                        PATIENT
                    </p>
                </div>
                <div class="infobody">
                    <b>NAME:</b> {{ first_name }} {{last_name}}<br>
                    <b>ACC#:</b> {{ sample_id }}<br>
                    <b>DOB:</b> {{ dob }}<br>
                    <b>SEX:</b> {{ sex }} 
                </div>
            </div>
            <div id="specimeninfo" class="col-2 infohead">
                <div class="infoheader">
                    <p>
                        SPECIMEN
                    </p>
                </div>
                <div class="infobody">
                    <b>COLLECTION:</b> {{ collection_date }}<br>
                    <b>RECEIVED:</b> {{ received_date }}<br>
                    <b>REPORT:</b> {{ report_date }}
                </div>
            </div>
            <div id="providerinfo" class="col-2 infohead">
                <div class="infoheader">
                    <p>
                        PROVIDER
                    </p>
                </div>
                <div class="infobody">
                    {{ lab_name }}<br>
                    {{ lab_street }}<br>
                    {{ lab_city }}, {{ lab_state }} {{ lab_zip }}<br>
                    {{ lab_dir }}
                </div>
            </div>
        </div>
        <div class="row titlebar" id="titlebar">
            <h4 class="headertitle">
                {{ report_title }}
            </h4>
        </div>
    </div>
    <div id="currentmeds">
        <div class="headline">
            <h1>Current Patient Medications</h1>
        </div>
        {% if current_drugs|length == 0 %}
            <p class="no-currents">No currently active medications to report on at this time. Due to a wide variety of brand names for some medications, please check the following table for the chemical names of specific medications of interest.</p>
        {% else %}
            {% for item in current_drugs %}
            <p class="no-currents">Due to a wide variety of brand names for some medications, please check the following table for the chemical names of specific medications of interest.</p>
            <div class="med-recommendation">
                <div class="med-icon">
                    <img src="file://{{ item.guidanceLevel }}" width="27px" height="30px">
                </div>
                <div class="med-header">
                    <div class="med-header-name">
                        <b>{{ item.name }}</b>
                        <span class="med-header-brands">{{ item.brand_names }}</span>
                    </div>
                </div>
                <div class="med-body">
                    <div class="med-body-supporting">
                        {{ item.genelist }} </br></br>
                        Evidence:</br>
                        {{ item.evidenceLevel }}
                    </div>
                    <div class="med-body-content">
                        {{ item.phenotype }}</br></br>
                        {{ item.description }}
                    </div>
                    <div class="med-body-category">
                        {{ item.category }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <div id="legend" class="row justify-content-center no-gutters">
        <div id="guidance-levels" class="col-6 justify-content-center">
            <p id="guidance-legend"><b>Guidance levels</b></p>
                <div class="guidance-explain row">
                    <div class="guidance-explain-icon col-2"><img src="file://{{ alert_icon_svg }}"></div>
                    <div class="guidance-explain-text col-10"><u>Significant changes or risks.</u> The recommendation indicates important changes in efficacy, toxicity, or other 
                    properties for the specified medication.</div>
                </div>
                <div class="guidance-explain row">
                    <div class="guidance-explain-icon col-2"><img src="file://{{ info_icon_svg }}" ></i></div>
                    <div class="guidance-explain-text col-10"><u>Possible treatment alterations.</u> There are alternate recommendations available for vigilance 
                    in treatment or prescription dosage.</div>
                </div>
                <div class="guidance-explain row">
                    <div class="guidance-explain-icon col-2"><img src="file://{{ normal_icon_svg }}" ></div>
                    <div class="guidance-explain-text col-10">The sample's genotype shows no elevated risks or treatment-altering indicators
                    for prescribing the medication according to standard practice.</div>
                </div>
        </div>
        <div id="evidence-levels" class="col-5 justify-content-center">
            <p id="evidence-legend" class="align-self-center"><b>Evidence levels</b></p>
            <p>SIGNIFICANT:</p>
            <p class="evidence-explain">Recommendations are supported by strong consensus among medical studies, and endorsed by medical societies and expert bodies, such as the CPIC and FDA. Treatment adjustments based on these findings is suggested.</p>
            <p>LOW:</p>
            <p class="evidence-explain">Recommendations are still supported by regulatory and expert bodies, but supporting studies may have conflicting results or insufficient associations with the finding.</p>
        </div>
    </div>

<div id="medguide">
    <div class="headline medtable">
        <h1>Medication Guide</h1>
    </div>
    <table>
        <thead>
            <tr>
            <th class="theader tablecathead">Category</th>
            <th class="theader tableclasshead">Class</th>
            <th class="theader onehead">Standard Precautions</th>
            <th class="theader twohead">Monitor for Adverse Effects</th>
            <th class="theader threehead">Consider Alternative or See Specific Guidelines</th>
            </tr>
        </thead>
        <tbody>
            {% for category, subs in medication_guide.items()|sort %}
                <tr class="fullcat">
                    <td class="catname" rowspan="{{ subs.keys()|length + 1 }}"><b>{{ category }}</b></td>
                    {% for dclass, chems in subs.items()|sort %}
                    <tr class="subclass">
                        <td class="subclassname">{{ dclass }}</td>
                        <td class="subclassone onehead">
                            <ul class="onelist chemlist">
                                {% for chem in chems['1'] %}
                                    <li>{{ chem }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="subclasstwo twohead">
                            <ul class="twolist chemlist">
                                {% for chem in chems['2'] %}
                                    <li>{{ chem }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="subclassthree threehead">
                            <ul class="threelist chemlist">
                                {% for chem in chems['3'] %}
                                    <li>{{ chem }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>         
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="disease">
    <div class="headline diseasehead">
        <h1>Disease Risk Management</h1>
    </div>
    {% for item in diseases %}
    <div class="med-recommendation">
      <div class="med-icon">
        <img src="file://{{ item.guidanceLevel }}">
      </div>
      <div class="med-header">
        <div class="med-header-name">
          <b>{{ item.name }}</b>
        </div>
      </div>
      <div class="med-body">
        <div class="med-body-supporting">
          {{ item.genelist }} </br></br>
          Evidence:</br>
          {{ item.evidenceLevel }}
        </div>
        <div class="med-body-content">
          {{ item.phenotype }}</br></br>
          {{ item.description }}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<div id="general">
    <div class="headline generalhead">
      <h1>General Medication Recommendations</h1>
    </div>
    {% for item in drugs %}
    <div class="med-recommendation">
      <div class="med-icon">
        <img src="file://{{ item.guidanceLevel }}">
      </div>
      <div class="med-header">
        <div class="med-header-name">
          <b>{{ item.name }}</b>
          <span class="med-header-brands">{{ item.brand_names }}</span>
        </div>
      </div>
      <div class="med-body">
        <div class="med-body-supporting">
          {{ item.genelist }} </br></br>
          Evidence:</br>
          {{ item.evidenceLevel }}
        </div>
        <div class="med-body-content">
          {{ item.phenotype }}</br></br>
          {{ item.description }}
        </div>
        <div class="med-body-category">
          {{ item.category }}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<div id="genetics">
    <div class="headline geneticshead">
      <h1>Testing Details</h1>
    </div>
    <table class="genetics">
      <tr>
        <th>Gene</th>
        <th>Patient info</th>
        <th>Alleles tested</th>
      </tr>
      {% for key, value in gts.items()|sort %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value["info"] }}</td>
        <td>{{ value["alleles"] }}</td>
      </tr>
      {% endfor %}
    </table>
</div>
<div id="legal">
    <div class="headline legalhead">
        <h1>Legal Information</h1>
    </div>
    <div class="sectionsbody">
        <h2 class="section">Disclaimer</h2>
        <p class="section-explain">{{ disclaimer }}</p>
        <h2 class="section">Methodology</h2>
        <p class="section-explain">{{ method }}</p>
        <h2 class="section">Limitations</h2>
        <p class="section-explain">{{ limitations }}</p>
        <h2 class="section">Laboratory certification</h2>
        <p class="section-explain">{{ cert }}</p>
        <h2 class="section">Confidentiality notice</h2>
        <p class="section-explain">{{ confident }}</p>
        <p class="section-explain">
            <b>{{ recipient }}</b>
        </p>
        <p class="section-explain">{{ approved }}</p>
        </div>
</div>
<!-- scripts -->
<!-- <script src="https://kit.fontawesome.com/874349d7b1.js" crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>